# Editors temp files
*.swp
*~

# SCRAM business
__init__.py
*.pyc

# CRAB3 stuff
#crab_*
#crabConfig_*

# ROOT-related files
*_cc.d
*_cc.so
*_C.d
*_C.so
*\#*
.\#*
*.o
AutoDict_*

# Other temp files
#*.png
#*.pdf